.navbar-brand {
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	padding-left: 1.3125rem;
	font-size: 1.8rem;
	text-decoration: none;
	white-space: nowrap;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .2rem;
	font-weight: 700;
	line-height: 1.2;
}

.italic {
	font-style: italic;
	font-weight: 600;
}